.digital{
    color: blue;
    font-weight: bold;
}

.textoPrincipal{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#conteudoPrincipal{
    background-color:#AFEEEE ;
}

.nav-principal li a:hover{
    color: white;
    background-color: black;
    

}

#cabecalho{
    background-color:#E0FFFF ;
}

.youtube{
    font-size: 20px;
    color: dark;
}

.youtube:hover{
    color: blue;
    background-color: white;
}